<!DOCTYPE html>
<html>

<head>
    <title>Lab - Multimedia Programming 2563 ITKMITL</title>
    <link rel=stylesheet href="../src/reset.css">
    <link rel=stylesheet href="lab.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="paper">
    <center>
        <div id="app">
            <h3>แม่คูณ</h3>
            <input type="number" v-model="n"><br>
            <h3>จำนวนแถว</h3>
            <input type="number" v-model="row">
            <div class="space"></div>
            <h1>สูตรคูณแม่ {{n}}</h3>
                <h5>ที่แม่ก่อนหน้า แม่ {{before_n}}</h5>
                <h3 v-for="i in r" class="underline">
                    <b style="color: #2f3194;">{{n}}</b>
                    <b>x</b>
                    <b style="color: #22b24b;">{{i}} </b>
                    <b>=</b>
                    <b style="color: #fef100;">{{multipy(i)}}</b>
                </h3>
                <h2 class="color_sum">
                    ผลรวมสูตรคูณ {{summ(row)}}
                </h2>
                <!-- <h4>{{n}} x 1 = {{n}}</h4>
        <h4>{{n}} x 2 = {{x2}}</h4>
        <h4>{{n}} x 3 = {{x3}}</h4>
        <h4>{{n}} x 4 = {{x4}}</h4>
        <h4>{{n}} x 5 = {{x5}}</h4>
        <h4>{{n}} x 6 = {{x6}}</h4>
        <h4>{{n}} x 7 = {{x7}}</h4>
        <h4>{{n}} x 8 = {{x8}}</h4>
        <h4>{{n}} x 9 = {{x9}}</h4>
        <h4>{{n}} x 10 = {{x10}}</h4>
        <h4>{{n}} x 11 = {{x11}}</h4>
        <h4>{{n}} x 12 = {{x12}}</h4> -->
        </div>
    </center>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                n: 2,
                before_n: 1,
                row: 12,
            },

            methods: {
                multipy: function(row) {
                    this.sum += this.n * row
                    return this.n * row
                },
                summ: function(row) {
                    summ = 0
                    for (var i = 1; i <= row; i++) {
                        summ += (this.n * i)
                    }
                    return summ
                }
            },

            computed: {
                r: function() {
                    return parseInt(this.row)
                },
                x2: function() {
                    return this.n * 2
                },
                x3: function() {
                    return this.n * 3
                },
                x4: function() {
                    return this.n * 4
                },
                x5: function() {
                    return this.n * 5
                },
                x6: function() {
                    return this.n * 6
                },
                x7: function() {
                    return this.n * 7
                },
                x8: function() {
                    return this.n * 8
                },
                x9: function() {
                    return this.n * 9
                },
                x10: function() {
                    return this.n * 10
                },
                x11: function() {
                    return this.n * 11
                },
                x12: function() {
                    return this.n * 12
                }
            },

            watch: {
                n: function(a, b) {
                    this.before_n = b
                }
            },
        })
    </script>
</body>

</html>